<template>
    <div>
        <el-form :model="form" :rules="validationRules" ref="form" label-width="120px">
            <el-form-item label="Title" prop="title">
                <el-input v-model="form.title"></el-input>
            </el-form-item>
            <el-form-item label="Author" prop="author">
                <el-input v-model="form.author"></el-input>
            </el-form-item>
            <el-form-item label="Description" prop="description">
                <el-input type="textarea" v-model="form.description"></el-input>
            </el-form-item>
            <el-form-item label="Book Cover">
                <input type="file" @change="onBookCoverChange($event)" class="form-control" />
            </el-form-item>

            <el-form-item class="text-right">
                <el-button type="primary" @click="submit" :loading="submitting">
                    <span v-if="!book">Create</span>
                    <span v-if="book">Update</span>
                </el-button>
                <el-button @click="cancel">Cancel</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
export default {
    name: 'BookForm',
    props: [ 'book' ],
    watch: {
        book: {
            handler (value) {
                const book = value || {}

                this.form.title = book.title || ''
                this.form.author = book.author || ''
                this.form.description = book.description || ''
            },
            immediate: true,
        }
    },
    data() {
        return {
            form: {
                title: '',
                author: '',
                description: '',
            },
            imageFile: null,
            submitting: false,

            validationRules: {
                title: [
                    { required: true, message: 'Please specify book title', trigger: 'change' }
                ],
                author: [
                    { required: true, message: 'Please specify book author', trigger: 'change' }
                ],
                description: [
                    { required: true, message: 'Please write down few words describing the book', trigger: 'change' }
                ],
            }
        }
    },
    methods: {
        onBookCoverChange(e) {
            const files = e.target.files
            this.imageFile = files.length > 0 ? files[0] : null
        },

        submit() {
            this.$refs['form'].validate(valid => {
                if (!valid) {
                    return
                }

                this.submitting = true;
                this.$emit('submit', this.form, this.imageFile)
            })
        },

        cancel() {
            this.$emit('cancel')
        }
    }
}
</script>
<style scoped>
</style>
