<template>
<div>
    <h3>My Books</h3>
    <el-row>
        <el-button type="primary" @click="onAdd">Add New Book</el-button>
    </el-row>
    <div v-if="!hasBooks" class="book-list">
        You have not added any books yet.
    </div>
    <div v-if="hasBooks" class="book-list">
        <div v-for="book in books" :key="book.id">
            <table class="book-item">
                <tbody>
                    <tr>
                        <td rowspan="3" class="book-image">
                            <img :src="book.image" v-if="book.image" />
                            <div v-if="!book.image" class="no-image">
                                <span>No Image</span>
                            </div>
                        </td>
                        <td class="book-title">{{ book.title }}</td>
                        <td rowspan="3" class="book-buttons">
                            <div>
                                <el-button type="info" @click="onEdit(book.id)">Edit</el-button>
                            </div>
                            <div>
                                <el-button type="danger" @click="onRemove(book.id)">Delete</el-button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="book-author">Author: {{ book.author }}</td>
                    </tr>
                    <tr>
                        <td class="book-description">{{ book.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
    name: 'BookList',
    computed: {
        ...mapGetters('books', [ 'hasBooks' ]),
        ...mapState('books', [ 'books' ])
    },
    filters: {
        toRelative: value => '/' + value.split('/').slice(1).join('/')
    },
    methods: {
        onAdd() {
            this.$router.push('/add')
        },

        onEdit(id) {
            this.$router.push('/' + id)
        },

        async onRemove(id) {
            await this.$confirm('Are you sure you want to delete selected book?', 'Warning', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                type: 'warning'
            })

            this.$store.dispatch('books/removeBook', id)
        }
    }
}
</script>

<style scoped>
.book-list {
    margin-top: 10px;
}

.book-item {
    width: 100%;
    margin: 10px 0 10px 0;
}

.book-item .book-image img {
    width: 100px;
    height: 100px;
    vertical-align: top;
    text-align: left;
    border: 1px solid #eaeaea;
}

.book-item .book-image div.no-image {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid #eaeaea;
}

.book-item .book-image div.no-image span {
    display: table-cell;
    width: 100px;
    height: 100px;
    vertical-align: middle;

}

.book-item .book-title {
    width: 100%;
    padding: 0 0 0 20px;
}

.book-item .book-author {
    width: 100%;
    padding: 0 0 0 20px;
}

.book-item .book-description {
    width: 100%;
    text-align: justify;
    padding: 0 0 0 20px;
}

.book-item .book-buttons {
    vertical-align: bottom;
}

.book-item .book-buttons .el-button {
    width: 100%;
}
</style>
