<template>
<div>
    <h3>Add New Book</h3>
    <book-form @submit="onSubmit" @cancel="onCancel"></book-form>
</div>
</template>
<script>
import BookForm from './BookForm.vue'

export default {
    name: 'BookAdd',
    components: { BookForm },
    methods: {
        returnToList() {
            this.$router.push('/')
        },

        async onSubmit(book, imageFile) {
            await this.$store.dispatch('books/addBook', { book, imageFile })
            this.returnToList()
        },

        onCancel() {
            this.returnToList()
        }
    }
}
</script>
<style scoped>
</style>