<template>
<div>
    <h3>Update Existing Book</h3>
    <book-form @submit="onSubmit" @cancel="onCancel" :book="book"></book-form>
</div>
</template>
<script>
import BookForm from './BookForm.vue'

export default {
    name: 'BookUpdate',
    components: { BookForm },
    data() {
        return {
            book: null
        }
    },
    async created() {
        this.book = await this.$api.fetchSingleFavoriteBook(this.getId())
    },
    methods: {
        getId() {
            return parseInt(this.$route.params.id)
        },

        returnToList() {
            this.$router.push('/')
        },

        async onSubmit(book, imageFile) {
            book.id = this.getId()

            await this.$store.dispatch('books/changeBook', { book, imageFile })
            this.returnToList()
        },

        onCancel() {
            this.returnToList()
        }
    }
}
</script>
<style scoped>
</style>