<template>
<div class="root-container-wrapper">
  <div class="root-container">
    <div class="nav-bar">
      <div class="nav-bar-title">Favorite Books</div>
      <div class="nav-bar-links">
        <router-link to="/">My Books</router-link>
        <a href="#" @click="onSignOut">Sign Out</a>
      </div>
    </div>
    <div class="root-content">
      <router-view></router-view>
    </div>
  </div>
</div>
</template>

<script>
export default {
    name: 'Books',
    mounted() {
        this.$store.dispatch('books/loadBooks')
    },
    methods: {
        onSignOut() {
            this.$store.dispatch('auth/signOut')
            this.$router.push('/signin')
        }
    }
}
</script>

<style scoped>
.root-container-wrapper {
  text-align: center;
}

.root-container {
  width: 800px;
  display: inline-block;
}

.root-content {
  text-align: left;
  margin-top: 20px;
  padding: 0 15px 0 15px;
}

.nav-bar {
  text-align: left;
  padding: 10px;
  background-color: black;
  color: white;
}

.nav-bar .nav-bar-title {
  display: inline-block;
  font-weight: bold;
}

.nav-bar .nav-bar-links {
  display: inline-block;
  margin-left: 40px;
}

.nav-bar .nav-bar-links a {
  display: inline;
  color: white;
  margin: 0 20px 0 20px;
}
</style>
