<template>
<div id="registerForm" class="card">
    <div class="card-body">
        <h3>Create New Account</h3>
        <el-form label-position="top" :model="form" :rules="validationRules" ref="registerForm">
            <div class="text-danger" v-if="error">
                {{error}}
            </div>
            <el-form-item label="Username:" prop="username">
                <el-input v-model="form.username"></el-input>
            </el-form-item>
            <el-form-item label="Password:" prop="password">
                <el-input v-model="form.password" show-password></el-input>
            </el-form-item>
            <div class="row mt-4">
                <div class="col-6">
                    <el-form-item>
                        <el-button type="secondary" @click="onCancel">Cancel</el-button>
                    </el-form-item>                    
                </div>
                <div class="col-6 text-right">
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit" :loading="submitting">Register</el-button>
                    </el-form-item>
                </div>
            </div>
        </el-form>
    </div>
</div>
</template>

<script>
export default {
    name: 'Register',
    data() {
        return {
            form: {
                username: '',
                password: ''
            },

            error: '',
            submitting: false,

            validationRules: {
                username: [
                    { required: true, message: 'Please specify username', trigger: 'change' }
                ],
                password: [
                    { required: true, message: 'Please specify password', trigger: 'change' }
                ],
            }
        }
    },
    methods: {
        async onCancel() {
            this.$router.push('/signin')
        },

        async onSubmit() {
            this.error = ''
            this.submitting = true

            this.$refs['registerForm'].validate(async valid => {
                if (!valid) {
                    this.submitting = false
                    return
                }

                try {
                    await this.$api.register(this.form.username, this.form.password)
                } catch (e) {
                    this.error = e.response.data[0]
                    this.submitting = false
                    return
                }

                this.$router.push('/signin')
            });
        },
    }
}
</script>

<style scope>
#registerForm {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -250px;
    width: 400px;
}
</style>
