<template>
<div id="signInForm" class="card">
    <div class="card-body">
        <h3>Sign In</h3>
        <el-form label-position="top" :model="form" :rules="validationRules" ref="signInForm">
            <div class="text-danger" v-if="error">
                Could not authenticate user, please check if username and password are correct.
            </div>
            <el-form-item label="Username:" prop="username">
                <el-input v-model="form.username"></el-input>
            </el-form-item>
            <el-form-item label="Password:" prop="password">
                <el-input v-model="form.password" show-password></el-input>
            </el-form-item>
            <div class="row mt-4">
                <div class="col-6">
                    <el-form-item>
                        <el-button type="secondary" @click="onRegister">Register</el-button>
                    </el-form-item>                    
                </div>
                <div class="col-6 text-right">
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit" :loading="submitting">Sign In</el-button>
                    </el-form-item>
                </div>
            </div>
        </el-form>
    </div>
</div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: 'SignIn',
    data() {
        return {
            form: {
                username: '',
                password: '',
            },

            error: false,
            submitting: false,

            validationRules: {
                username: [
                    { required: true, message: 'Please specify username', trigger: 'change' }
                ],
                password: [
                    { required: true, message: 'Please specify password', trigger: 'change' }
                ],
            }
        }
    },
    methods: {
        async onRegister() {
            this.$router.push('/register')
        },

        async onSubmit() {
            this.error = false
            this.submitting = true

            this.$refs['signInForm'].validate(async valid => {
                if (!valid) {
                    this.submitting = false
                    return
                }

                try {
                    await this.authenticate(this.form)
                } catch {
                    this.error = true
                    this.submitting = false
                    return
                }

                this.$router.push('/')
            })
        },

        ...mapActions('auth', ['authenticate'])
    }
}
</script>

<style scope>
#signInForm {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -250px;
    width: 400px;
}
</style>
